{% comment %}
  SNIPPET: Quick View Modal (v2.1 - STABLE BASE)
{% endcomment %}
<div class="quick-view-modal" id="quick-view-modal" aria-hidden="true">
  <div class="quick-view-modal__overlay" tabindex="-1" data-quick-view-close></div>
  <div class="quick-view-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="quick-view-title">
    <div class="quick-view-modal__content">
      <button class="quick-view-modal__close" data-quick-view-close aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </button>
      <div class="quick-view-modal__loader"></div>
      <div class="quick-view-modal__body">
        <div class="quick-view-modal__image-wrapper">
          <img src="" alt="" data-quick-view-image>
          <div class="quick-view-modal__macros" data-quick-view-macros>
            <!-- Macro content will be injected here by JS -->
          </div>
        </div>
        <div class="quick-view-modal__details">
          <h2 class="quick-view-modal__title" id="quick-view-title" data-quick-view-title></h2>
          <div class="quick-view-modal__price" data-quick-view-price></div>
          <div class="quick-view-modal__description rte" data-quick-view-description></div>
          <div class="quick-view-modal__accordion" data-quick-view-accordion>
            <!-- Accordion content will be injected here by JS -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>