{% comment %} REMOVED: Conditional '.container--product-page' wrapper to allow this section to live inside the main product grid. {% endcomment %}
{%- if template.name == 'product' -%}
  {%- if content_for_header contains 'yotpo' -%}
  {%- endif -%}
{%- endif -%}
<div class="apps-section-wrapper {% if section.settings.include_margins %}has-theme-margins{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Make section margins the same as theme"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
