<style type="text/css">

	.yotpo-custom-div > div{
     max-width: 100% !important;
      padding: 0px 0px !important;
    }

</style>

<meta content="width=device-width, initial-scale=1" name="viewport" />

<div class="yotpo-custom-div">

	{% include 'smsbump_subscription_form_embed_205315' %}

</div>